<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the DallasJS Chat!</h1>
	</div>
</div>

<div class="input-group">
	<span class="input-group-addon">@</span>
	<input type="text" class="form-control login" placeholder="Username">
</div>